Contact <%= user.get('email') %>
<br>

<form>
  <input type="hidden" name="email[sender_id]" value="<%= global_user_id %>">
  <input type="hidden" name="email[reciever_id]" value="<%=user.id%>">

  <textarea class="form-control" name="email[body]" rows="3"></textarea>
  <input class="btn btn-sm btn-success" type="submit" id="email" value="Send Email">
</form>

<button class="btn btn-sm btn-primary" type="button" id="return">Back</button>