/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require vex
 *= require vex-theme-flat-attack
 *= require toastr
 *= require_self
 *= require_tree .
 *= require modal
 */

$body-bg: #e74c3c;
$link-color: #e74c3c;
$text-color: #e74c3c;
$btn-primary-color: #e74c3c;
$btn-primary-bg: #fff;

.box{
  background-color: #fff;
  border-radius:7px;
  padding: 40px;
}

.morepadding{
  padding-left:10px;
  padding-right:10px;
}

.black-text{
  color: black;
}

.smallerbox{
  color: #e74c3c;
  background-color: #fff;
  border-radius:7px;
  padding: 10px;
}

.logo{
  color:#fff;
}

.invert{
  color: #fff;
  background-color: #e74c3c;
}

.lighten{
  opacity: 0.3;
}

.github{
  a:link {color:#FFFE6B;}    
  a:visited {color:#FFFE6B;} 
  a:hover {color:#7DEBFF;}  
  a:active {color:#E2FF5C;}
}

#newLikeBtn{
  position: absolute;
  bottom: 15px;
  left: 90px;
}

#newHateBtn{
  position: absolute;
  bottom: 15px;
  right: 90px;
}

.constrained{
  height: 400px;
}

.center{
  text-align: center;
}

.emailed{
  color: #bdc3c7;
}

@import "bootstrap";
@import "modal";