<div class="row">
  <div class="col-md-5 col-md-offset-2">
     <img alt="headphones" height="500" src="/assets/head3.png" width="500">
  </div>
  <div class="col-md-4 logo">
    <br><br><br><br><br><br>
    <h1>A matching app for musicians seeking to collaborate.</h1>
    <br>
    <div class="home-button">
      <a href="users/sign_in" class="btn btn-lg btn-primary">Launch The App</a>
      <br><br>
      </div>
      <p>
        <!-- <a href="api/users/sc_connect">Sign Up</a> /
        <a href="users/sign_in">Sign In</a> -->
        <h3 class="github">built by <a href="https://github.com/ksurdhar" target="_blank">Kiran Surdhar</h3></a>
      </p>
      
  </div>
</div>
