<div class="row">
  <div class="col-md-5 col-md-offset-2">
     <img alt="headphones" height="500" src="/assets/head3.png" width="500">
  </div>
  <div class="col-md-4 logo">
    <br><br><br><br><br>
    <h1>A tinder inspired matching app for musicians seeking to collaborate.</h1>
  </div>
</div>