
<div class="row">
  <div class="col-md-5 col-md-offset-2">
     <img alt="headphones" height="500" src="/assets/head3.png" width="500">
  </div>
  <div class="col-md-4 logo github">
    <br><br><br><br><br><br>
    <h1>A soundcloud powered app for musicians seeking to collaborate.</h1><br>

    <form action="/users/sign_in" method="post">
      <input type="hidden" name="authenticity_token" value="<%=auth_token%>">
      <input type="hidden" name="user[email]" value="guest123@gmail.com">
      <input type="hidden" name="user[password]" value="password">
      <input class="btn btn-lg btn-primary" type="submit" value="Launch Demo">
    </form>
    <h4><br> Or 
    <a href="api/users/sc_connect">Sign Up</a> /
    <a href="users/sign_in">Sign In</a></h4>

    <p><h3 class="github">built by <a href="https://github.com/ksurdhar" target="_blank">Kiran Surdhar</a></h3></p>
  </div>
</div>



